---
interface Props {
  title: string;
  body: string;
  href: string;
  language: Language;
  type: ProjectType;
  year: number;
}

export enum Language {
  JavaScript = "JavaScript",
  TypeScript = "TypeScript",
  Python = "Python",
  Java = "Java",
  Html = "Html",
  Css = "Css",
  Scss = "Scss",
  Astro = "Astro",
  Markdown = "Markdown",
  Json = "Json",
  Yaml = "Yaml",
  Toml = "Toml",
  Shell = "Shell",
  Plaintext = "Plaintext",
  Unknown = "Unknown",
}

enum LanguageColor {
  JavaScript = "#f7df1e",
  TypeScript = "#3178c6",
  Python = "#3572A5",
  Java = "#b07219",
  Html = "#e34c26",
  Css = "#563d7c",
  Scss = "#c6538c",
  Astro = "#ff0080",
  Markdown = "#083fa1",
  Json = "#f0f",
  Yaml = "#cb0",
  Toml = "#cb0",
  Shell = "#89e051",
  Plaintext = "#fff",
  Unknown = "#fff",
}

export enum ProjectType {
  Application = "Application",
  Mod = "Minecraft Mod",
  Extension = "Extension",
  Discord = "Discord Bot",
  Twitter = "Twitter Bot",
  Site = "Website",
}

const { href, title, body, language, type, year } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&nbsp;&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
    <p>
      <span style={{ color: LanguageColor[language as Language] }}>
        {language}
      </span>
      <span style={{ color: "white" }}>
        {" "}
        &bull; {type}
        &bull; {year}
      </span>
    </p>
  </a>
  <style>
    .link-card {
      list-style: none;
      display: flex;
      padding: 1px;
      background-color: #23262d;
      background-image: none;
      background-size: 400%;
      border-radius: 7px;
      background-position: 100%;
      transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    }
    .link-card > a {
      width: 100%;
      text-decoration: none;
      line-height: 1.4;
      padding: calc(1.5rem - 1px);
      border-radius: 8px;
      color: white;
      background-color: #23262d;
      opacity: 0.8;
    }
    h2 {
      margin: 0;
      font-size: 1.25rem;
      transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
    .link-card:is(:hover, :focus-within) {
      background-position: 0;
      background-image: var(--accent-gradient);
    }
    .link-card:is(:hover, :focus-within) h2 {
      color: rgb(var(--accent-light));
    }
  </style>
</li>
